/* Page styles */
body {
  background-color: #fff5fb;
}

.math {

  font-family: 'Old Standard TT', serif !important;
  font-weight: bold;

}

h4 {

  color: #68688e;

}

/* Dataviz */

rect {
  display: none;
}

svg {
  display: block;
  background-color: none;
}

line {
  stroke: #000;
  stroke-width: 2;
  visibility: visible;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  overflow: hidden;
  margin: auto;
  margin-bottom: 40px;
  
}

@media (min-width: 1000px) {
  .container {
    flex-direction: row;
  }
}

.chart {
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: center;
}

.title {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  font-family: "Lato", sans-serif;
}

.subtitle {
  padding-bottom: 0px;
  text-align: center;
}

.info-holder {
  text-align: center;
}

.day-count, .gen-count, .gen-count-si, .gen-count-cfr {
  font-size: 14px;
  font-weight: lighter;
  font-family: "Lato", sans-serif;
  font-weight: bold;
}

.parameters {
  font-size: 14px;
  font-family: "Lato", sans-serif;
  padding: 5px;
}

.chart-explainer {
  height: 130px;
  width: 310px;
  text-align: left;
  font-size: 14px;
  color: #000;
  padding: 20px;
  text-align: center;
}

.active {
  visibility: visible;
  stroke: #ffbaba;
  stroke-dasharray: 2,1;
  stroke-linejoin: round;
}

.inactive {
  visibility: visible;
}

.bad-color {
  color: #a3240d;
  font-weight: bolder;
}

.good-color {
  color: #006400;
  font-weight: bolder;

}
