/* Dataviz */

body {
  /*background-color: #fff5fb;*/
}

rect {
  display: none;
}

svg {
  display: block;
  background-color: none;
}

line {
  stroke: #e4e4e4;
  stroke-width: .5;
  visibility: hidden;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  overflow: hidden;
  margin: auto;
  
}

@media (min-width: 1000px) {
  .container {
    flex-direction: row;
  }
}

.chart {
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: center;
}

.title {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  font-family: "Lato", sans-serif;
}

.subtitle {
  padding-bottom: 0px;
  text-align: center;
}

.day-count, .gen-count {
  font-size: 20px;
  font-weight: lighter;
  font-family: "Lato", sans-serif;
}

.parameters {
  font-size: 18px;
  font-family: "Lato", sans-serif;
  padding: 5px;
}

.chart-explainer {
  height: 100px;
  width: 300px;
  text-align: left;
  font-size: 14px;
  color: #000;
  padding: 20px;
}

.active {
  visibility: visible;
  stroke: #ffbaba;
  stroke-dasharray: 2,1;
  stroke-linejoin: round;
}

.inactive {
  visibility: visible;
}




/*circle[data-generation="1"] {
  fill: #a70000;
}

circle[data-generation="2"] {
  fill: #ff0000;
}

circle[data-generation="3"] {
  fill: #ff5252;
}

circle[data-generation="4"] {
  fill: #ff7b7b;
}

circle[data-generation="5"] {
  fill: #ffbaba;
}

line[data-generation="1"] {
  stroke: #a70000;
}

line[data-generation="2"] {
  stroke: #FF0000;
}

line[data-generation="3"] {
  stroke: #FF5252;
}

line[data-generation="4"] {
  stroke: #ff7b7b;
}

line[data-generation="5"] {
  stroke: #ffbaba;
}*/